.menu
{
    display: flex;
    align-items: center;
    justify-content: center;
    

    width: 100%;
    height: 80px;
    background-color: rgb(220, 220, 220);
    gap: 10px;
}

.menu__item
{
    text-decoration: none;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    transition: text-decoration .4s;
}

.menu__item--button-default
{
    border-radius: 5px;
    height: 17spx;
    width: 83px;
    background-color: rgb(175, 175, 175);

    display: flex;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
}

.menu__item--button-success
{
    border-radius: 5px;
    height: 17px;
    background-color: rgb(49, 177, 66);

    display: flex;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    padding-left: 2px;
    padding-right: 2px;
}

.menu__item--button-default:hover
{
background-color: rgb(160, 160, 160);
}

.menu__item:hover
{
 text-decoration: underline;
}